@tailwind base;
@tailwind components;
@tailwind utilities;

.info-card-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #EBB458;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d4a03e;
}

.background-image {
  background-image: url('./assets/background_mentores.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}